﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Renan Toledo" />
    <meta name="description" content="Torneio de Luta" />
    <meta name="keywords" content="torneio, luta">
    <title>Torneio de Luta</title>

    @*JS*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>

    @*CSS*@
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/torneioluta.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert2.min.css" rel="stylesheet" />

</head>
<body>

    <header>
    </header>

    <section>
        <div class="container div-layout">
            @RenderBody()
        </div>
    </section>

    <footer></footer>
    <div> 
    </div>
</body>
</html>


<script>
    $(function () {

        if ('@TempData["Erro"]' != '') {

            Swal.fire({
                icon: "error",
                title: "Ocorreu um erro...",
                text: "@TempData["Erro"]"
            })
        }

        if ('@TempData["Alerta"]' != '') {

            Swal.fire({
                icon: "warning",
                title: "",
                text: "@TempData["Alerta"]"
            })
        }

    });

</script>
