﻿@model List<TorneioLuta.Models.LutadorMOD>
@{
    ViewBag.Title = "Torneio de Luta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1>Torneio de Luta</h1>
</div>


@using (Html.BeginForm("Selecionar", "Lutador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="div-controles">
        <input type="submit" class="btn btn-success" name="buttonSelecionarLutadores" value="Iniciar" />

        <div class="div-contagem-lutador" align="right">
            <p id="qtdeSelecionada"></p>
        </div>
    </div>

    <div class="row">
        @foreach (var lutador in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="card div-lutador">
                    <div class="card-header card-header-lutador">
                        <input type="checkbox" class="checkbox-lutador" name="checkboxLutador" onclick="VerificarSelecionados()" value="@lutador.Id" />
                        <span><b>@lutador.Nome</b></span>
                    </div>
                    <div class="card-body card-body-lutador">
                        <div id="detalhesLutador"></div>

                        <span><b>Idade: </b>@lutador.Idade</span>
                        <br />
                        <span><b>Lutas: </b>@lutador.Lutas</span>
                        <br />
                        <span><b>Derrotas: </b>@lutador.Derrotas</span>
                        <br />
                        <span><b>Vitórias: </b>@lutador.Vitorias</span>
                        <br />
                        <span><b>Artes Marciais: </b> @lutador.ArtesMarciais.Count()</span>
                    </div>
                </div>
            </div>
        }
    </div>
}

<script>

    function VerificarSelecionados() {

        var n = $("input:checked").length;

        $("#qtdeSelecionada").html('Quantidade selecionada: ' + '<b>' + n + '</b>');
    }

</script>
