﻿@model List<TorneioLuta.Models.LutadorMOD>
@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1>Resultado</h1>
</div>


<div class="row">
    <div class="div-resultado">
        <div class="card div-resultado-lutador">
            <div class="card-header">
                <span>Campeão</span>
            </div>
            <div class="card-body">
                <span><b>@Model[0].Nome</b></span>
                <br />
            </div>
        </div>
        <div class="card div-resultado-lutador">
            <div class="card-header">
                <span>Segundo</span>
            </div>
            <div class="card-body">
                <span><b>@Model[1].Nome</b></span>
                <br />
            </div>
        </div>

        <div class="card div-resultado-lutador">
            <div class="card-header">
                <span>Terceiro</span>
            </div>
            <div class="card-body">
                <span><b>@Model[2].Nome</b></span>
                <br />
            </div>
        </div>
    </div>
</div>


<div>
    <div class="div-reiniciar">
        <input onclick="location.href='@Url.Action("Index", "Lutador")'" type="button" class="btn btn-success" name="buttonReiniciar" value="Reiniciar" />
    </div>
</div>
