﻿body {
}

.div-layout {
    max-width: 90%;
    padding: 0px;
}

.div-lutador{
    margin: 20px 0px 0px 0px;
    max-width: 250px;
    font-size: 14px;
}

.card-header-lutador {
    padding: 7px 0px 7px 10px;
}

.card-body-lutador{
    padding: 8px 0px 8px 20px;
}

.checkbox-lutador{
    margin: 0px 3px 0px 0px;
    font-size: 5px;
}

.div-controles{
    display: inline-block;
    width: 100%;
}

.div-contagem-lutador{
    float: right;
    text-align: right;
    font-size: 20px;
    padding-right: 10px;
}

.div-resultado{
    margin: auto;
}

.div-resultado-lutador{
    margin: 20px 0px 0px 0px;
    width: 300px;
    font-size: 14px;
}

.div-reiniciar{
    padding: 40px 0px 0px 0px;
    text-align: center;
}

/*.card-columns {
    column-count: 4;
}*/
